1.Importing Pandas

In [44]:
import pandas as pd

opening a local csv file

In [45]:
df = pd.read_csv("../sample_data/placement.csv")

Opening a csv file from an url

In [46]:
import requests
from io import StringIO

url = ""

headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/120.0.0.0 Safari/537.36"
}
req = requests.get(url, headers=headers)
data = StringIO(req.text)
pd.read_csv(data)

MissingSchema: Invalid URL '': No scheme supplied. Perhaps you meant https://?


1️⃣ Importing libraries
import requests
from io import StringIO


requests → used to fetch data from the internet

StringIO → treats a string like a file

Pandas expects a file or file-like object

StringIO converts text into a fake file in memory

2️⃣ URL (data source)
url = ""


This should be a link that returns CSV text, for example:

https://example.com/data.csv


⚠️ If the URL returns HTML, this won’t work correctly.

3️⃣ Headers
headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) ..."
}


Pretends the request is coming from a real browser

Prevents many sites from blocking your request as a bot

4️⃣ Making the HTTP request
req = requests.get(url, headers=headers)


This:

Sends a GET request to the server

Downloads the response

Stores it in req

Important attributes:

req.status_code   # 200 = success
req.text          # response as text

5️⃣ Converting response text into a file-like object
data = StringIO(req.text)


req.text → raw text (CSV content)

StringIO(req.text) → turns that text into a virtual file in RAM

So Pandas can read it as if it were:

open("data.csv")

6️⃣ Reading CSV into Pandas
pd.read_csv(data)


Reads the CSV from memory

Converts it into a Pandas DataFrame

Equivalent to:

df = pd.read_csv("data.csv")


but without saving the file to disk.

4.Sep parameter
while using tsv files which are not seprated like commo in csv it is seprated from tab we have to use sep parameter
for example 
pd.read_csv("file.tsv", sep="\t") by default makes teh first row as column name 
to remove this we give naema array in it
pd.read_csv('file.tsv', sep='\t', names=['col1', 'col2', 'col3'])

5.INDEX_COL paramenter 

generate index over a column that we are not going use to it skips auto generated id for a data

6.if by mistake the data we are getting is not in the order we want to  like the column name have by chance came in first row then we can use pd.read_csv("name.csv", header=1) this cretae first row as column name

7.use_cols parameter 
if i want only specific columns from the file i use this like 
pd.read_csv("file_path",use_cols=["column1","column2"])

8.Squeeze parameter
if i want only one column as a series i use this like 
pd.read_csv("file_path",squeeze=True)

9.Skiprows,nrows parameter

if i want to skip some rows from the file i use this like 
pd.read_csv("file_path",skiprows=5)

if i want to read only some rows from the file i use this like 
pd.read_csv("file_path",nrows=5)

Using a lambda function (industry standard)
df = pd.read_csv(
    "file_path",
    skiprows=lambda x: x % 5 != 0
)
Explanation

x = row index (starting from 0)

x % 5 != 0 → skip rows that are not multiples of 5

Rows kept → 0, 5, 10, 15, ...

10.Encoding Parameter 
encoding is not utf-8 by default
we have to give its encoding type
like pd.read_csv('zomato.csv',encoding='latin-1')

pd.read_csv('books.csv',sep=';',encoding='latin-1',error_bad_lines=False)
error_bad_lines=False  (Important detail)

Tells Pandas:

“If a row is broken, skip it instead of crashing.”

What is a “bad line”?

A row with:

Too many columns

Too few columns

Broken quotes

Example:

good;row;here
bad;row;with;extra;columns


 Normally → Pandas raises an error
 With this → Pandas drops the bad row silently

12.dtypes parameter

In [ ]:
pd.read_csv('../sample_data/aug_train.csv').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype  
---  ------                  --------------  -----  
 0   enrollee_id             19158 non-null  int64  
 1   city                    19158 non-null  object 
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object 
 4   relevent_experience     19158 non-null  object 
 5   enrolled_university     18772 non-null  object 
 6   education_level         18698 non-null  object 
 7   major_discipline        16345 non-null  object 
 8   experience              19093 non-null  object 
 9   company_size            13220 non-null  object 
 10  company_type            13018 non-null  object 
 11  last_new_job            18735 non-null  object 
 12  training_hours          19158 non-null  int64  
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB here target value is 1 or 0 but it is marked as float but it could also be represented as int so we have to change it data type to int

In [ ]:
pd.read_csv('../sample_data/aug_train.csv',dtype={'target':'int'}).info()

In [ ]:
pd.read_csv('../sample_data/aug_train.csv').info()
# it doesnt change permanently

HANDLING DATES
whenever we have dates in our data, we need to convert them into datetime objects cz they by default pass as string whever we read the csv

In [ ]:
pd.read_csv("../sample_data/IPL Matches 2008-2020.csv",parse_dates=["date"]).info()

14.Convertors

In [ ]:
def rename(name):
    if name=="Mumbai Indians":
        return "MI"
    elif name=="Royal Challengers Bangalore":
        return "RCB"
    return name

In [ ]:
rename("Mumbai Indians")

In [ ]:
pd.read_csv("../sample_data/IPL Matches 2008-2020.csv",converters={'team1':rename,'team2':rename})

NA_values parameter
for example if there is - in a value u have to remove how to do it i will do using male in gender

In [ ]:
pd.read_csv('../sample_data/aug_train.csv',na_values=['Male'])

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,NaN,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,NaN,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,NaN,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,NaN,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,NaN,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

Loading huge dataset in chunks

In [ ]:
df = pd.read_csv('../sample_data/aug_train.csv',chunksize = 5000)
for chunk in df:
    print(chunk.shape)

(5000, 14)
(5000, 14)
(5000, 14)
(4158, 14)