In [15]:
import pandas as pd
import requests

In [16]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [17]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [18]:
df = pd.DataFrame()

In [19]:
df

Empty DataFrame
Columns: []
Index: []

In [25]:
import requests
import pandas as pd

df_list = []

for i in range(1, 429):
    response = requests.get(
        f"https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}"
    )
    temp_df = pd.DataFrame(response.json()['results'])[
        ['id','title','overview','release_date','popularity','vote_average','vote_count']
    ]
    df_list.append(temp_df)

df = pd.concat(df_list, ignore_index=True)

In [26]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,34.9251,8.714,29392
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,35.3344,8.685,22179
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.3757,8.571,13404
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,11.9510,8.566,16926
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.4863,8.549,9598
...,...,...,...,...,...,...,...
8555,24402,Emmanuelle,An employee at the French Embassy in Bangkok i...,1974-06-25,5.9067,5.954,797
8556,848187,Role Play,Emma has a wonderful husband and two kids in t...,2023-12-14,2.9138,5.953,602
8557,220286,Grand Piano,"Tom Selznick, the most talented pianist of his...",2013-10-11,3.6891,5.953,529
8558,11374,EDtv,Video store clerk Ed agrees to have his life f...,1999-03-26,1.4430,5.953,669
8559,9383,Hollow Man,Cocky researcher Sebastian Caine is working on...,2000-08-04,4.6801,5.952,2666

In [27]:
df.shape

(8560, 7)

In [28]:
df.to_csv('movies.csv')