In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df_raw = pd.read_csv('data.csv')
df = df_raw.copy()
df.head()

,Unnamed: 0,movie,lifetime_collection,opening_day,end_of_opening_weekend,end_of_week_1,end_of_week_2,end_of_week_3,end_of_week_4,end_of_week_5,...,day_62,day_63,day_66,day_67,day_68,day_69,day_70,day_79,day_86,year
0,0,...And Once Again,0.12 cr.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,1920: London,15.45 cr.,2.50 cr.,7.73 cr.,12.45 cr.,15.06 cr.,15.42 cr.,15.45 cr.,15.45 cr.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,2 States,102.13 cr.,12.42 cr.,38.06 cr.,60.73 cr.,87.27 cr.,98.91 cr.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,2020 Delhi,0.15 cr.,0.02 cr.,0.10 cr.,0.15 cr.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9,22 Yards,0.03 cr.,NaN,NaN,0.03 cr.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df = df.fillna(0)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966 entries, 0 to 965
Data columns (total 96 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              966 non-null    int64
 1   movie                   966 non-null    object
 2   lifetime_collection     966 non-null    object
 3   opening_day             966 non-null    object
 4   end_of_opening_weekend  966 non-null    object
 5   end_of_week_1           966 non-null    object
 6   end_of_week_2           966 non-null    object
 7   end_of_week_3           966 non-null    object
 8   end_of_week_4           966 non-null    object
 9   end_of_week_5           966 non-null    object
 10  day_1                   966 non-null    object
 11  day_2                   966 non-null    object
 12  day_3                   966 non-null    object
 13  day_4                   966 non-null    object
 14  day_5                   966 non-null    object
 15  day_6                   966 non-null    object
 16  day_7                   966 non-null    object
 17  day_8                   966 non-null    object
 18  day_9                   966 non-null    object
 19  day_10                  966 non-null    object
 20  day_11                  966 non-null    object
 21  day_12                  966 non-null    object
 22  day_13                  966 non-null    object
 23  day_15                  966 non-null    object
 24  day_18                  966 non-null    object
 25  day_19                  966 non-null    object
 26  day_22                  966 non-null    object
 27  day_29                  966 non-null    object
 28  day_14                  966 non-null    object
 29  day_16                  966 non-null    object
 30  day_17                  966 non-null    object
 31  day_20                  966 non-null    object
 32  day_21                  966 non-null    object
 33  day_23                  966 non-null    object
 34  day_24                  966 non-null    object
 35  end_of_week_6           966 non-null    object
 36  end_of_week_7           966 non-null    object
 37  day_36                  966 non-null    object
 38  day_43                  966 non-null    object
 39  end_of_week_8           966 non-null    object
 40  day_25                  966 non-null    object
 41  day_26                  966 non-null    object
 42  day_27                  966 non-null    object
 43  day_28                  966 non-null    object
 44  day_50                  966 non-null    object
 45  end_of_week_9           966 non-null    object
 46  day_57                  966 non-null    object
 47  end_of_week_10          966 non-null    object
 48  end_of_week_11          966 non-null    object
 49  end_of_week_12          966 non-null    object
 50  end_of_week_13          966 non-null    object
 51  day_30                  966 non-null    object
 52  day_31                  966 non-null    object
 53  day_32                  966 non-null    object
 54  day_33                  966 non-null    object
 55  day_34                  966 non-null    object
 56  day_35                  966 non-null    object
 57  day_37                  966 non-null    object
 58  day_38                  966 non-null    object
 59  day_39                  966 non-null    object
 60  day_40                  966 non-null    object
 61  day_41                  966 non-null    object
 62  day_42                  966 non-null    object
 63  day_44                  966 non-null    object
 64  day_45                  966 non-null    object
 65  day_46                  966 non-null    object
 66  day_47                  966 non-null    object
 67  day_48                  966 non-null    object
 68  day_49                  966 non-null    object
 69  day_64                  966 non-null    object
 70  day_71                  966 non-null    object
 71  day_78                  966 non-null    object
 72  day_85                  966 non-null    object
 73  day_51                  966 non-null    object
 74  day_52                  966 non-null    object
 75  day_53                  966 non-null    object
 76  day_54                  966 non-null    object
 77  day_55                  966 non-null    object
 78  day_56                  966 non-null    object
 79  day_58                  966 non-null    object
 80  day_65                  966 non-null    object
 81  day_72                  966 non-null    object
 82  end_of_opening_week     966 non-null    object
 83  day_59                  966 non-null    object
 84  day_60                  966 non-null    object
 85  day_61                  966 non-null    object
 86  day_62                  966 non-null    object
 87  day_63                  966 non-null    object
 88  day_66                  966 non-null    object
 89  day_67                  966 non-null    object
 90  day_68                  966 non-null    object
 91  day_69                  966 non-null    object
 92  day_70                  966 non-null    object
 93  day_79                  966 non-null    object
 94  day_86                  966 non-null    object
 95  year                    966 non-null    float64
dtypes: float64(1), int64(1), object(94)
memory usage: 724.6+ KB

In [47]:
df.head()
df = df.drop('Unnamed: 0',axis=1)

In [40]:
# num_df = df.select_dtypes(include='number')
num_df = df.select_dtypes(include='number')

In [41]:
num_df.corr()

            Unnamed: 0      year
Unnamed: 0    1.000000  0.028036
year          0.028036  1.000000

In [50]:


cols = [
    'lifetime_collection',
    'opening_day',
    'end_of_opening_weekend',
    'end_of_week_1',
    'end_of_week_2',
    'end_of_week_3',
    'end_of_week_4',
    'end_of_week_5',
    'day_1',
    'day_2',
    'day_3',
    'day_4',
    'day_5',
    'day_6',
    'day_7',
    'day_8',
    'day_9',
    'day_10',
    'day_11',
    'day_12',
    'day_13',
    'day_15',
    'day_18',
    'day_19',
    'day_22',
    'day_29',
    'day_14',
    'day_16',
    'day_17',
    'day_20',
    'day_21',
    'day_23',
    'day_24',
    'end_of_week_6',
    'end_of_week_7',
    'day_36',
    'day_43',
    'end_of_week_8',
    'day_25',
    'day_26',
    'day_27',
    'day_28',
    'day_50',
    'end_of_week_9',
    'day_57',
    'end_of_week_10',
    'end_of_week_11',
    'end_of_week_12',
    'end_of_week_13',
    'day_30',
    'day_31',
    'day_32',
    'day_33',
    'day_34',
    'day_35',
    'day_37',
    'day_38',
    'day_39',
    'day_40',
    'day_41',
    'day_42',
    'day_44',
    'day_45',
    'day_46',
    'day_47',
    'day_48',
    'day_49',
    'day_64',
    'day_71',
    'day_78',
    'day_85',
    'day_51',
    'day_52',
    'day_53',
    'day_54',
    'day_55',
    'day_56',
    'day_58',
    'day_65',
    'day_72',
    'end_of_opening_week',
    'day_59',
    'day_60',
    'day_61',
    'day_62',
    'day_63',
    'day_66',
    'day_67',
    'day_68',
    'day_69',
    'day_70',
    'day_79',
    'day_86'
]

for col in cols:
    df[col] = pd.to_numeric(
        df[col]
          .astype(str)
          .str.extract(r'([\d.]+)')[0],
        errors='coerce'
    )

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966 entries, 0 to 965
Data columns (total 95 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   movie                   966 non-null    object
 1   lifetime_collection     964 non-null    float64
 2   opening_day             852 non-null    float64
 3   end_of_opening_weekend  865 non-null    float64
 4   end_of_week_1           940 non-null    float64
 5   end_of_week_2           966 non-null    float64
 6   end_of_week_3           966 non-null    float64
 7   end_of_week_4           966 non-null    float64
 8   end_of_week_5           966 non-null    float64
 9   day_1                   966 non-null    float64
 10  day_2                   966 non-null    float64
 11  day_3                   966 non-null    float64
 12  day_4                   966 non-null    float64
 13  day_5                   966 non-null    float64
 14  day_6                   966 non-null    float64
 15  day_7                   966 non-null    float64
 16  day_8                   966 non-null    float64
 17  day_9                   966 non-null    float64
 18  day_10                  966 non-null    float64
 19  day_11                  966 non-null    float64
 20  day_12                  966 non-null    float64
 21  day_13                  966 non-null    float64
 22  day_15                  966 non-null    float64
 23  day_18                  966 non-null    float64
 24  day_19                  966 non-null    float64
 25  day_22                  966 non-null    float64
 26  day_29                  966 non-null    float64
 27  day_14                  966 non-null    float64
 28  day_16                  966 non-null    float64
 29  day_17                  966 non-null    float64
 30  day_20                  966 non-null    float64
 31  day_21                  966 non-null    float64
 32  day_23                  966 non-null    float64
 33  day_24                  966 non-null    float64
 34  end_of_week_6           966 non-null    float64
 35  end_of_week_7           966 non-null    float64
 36  day_36                  966 non-null    float64
 37  day_43                  966 non-null    float64
 38  end_of_week_8           966 non-null    float64
 39  day_25                  966 non-null    float64
 40  day_26                  966 non-null    float64
 41  day_27                  966 non-null    float64
 42  day_28                  966 non-null    float64
 43  day_50                  966 non-null    float64
 44  end_of_week_9           966 non-null    float64
 45  day_57                  966 non-null    float64
 46  end_of_week_10          966 non-null    float64
 47  end_of_week_11          966 non-null    float64
 48  end_of_week_12          966 non-null    float64
 49  end_of_week_13          966 non-null    float64
 50  day_30                  966 non-null    float64
 51  day_31                  966 non-null    float64
 52  day_32                  966 non-null    float64
 53  day_33                  966 non-null    float64
 54  day_34                  966 non-null    float64
 55  day_35                  966 non-null    float64
 56  day_37                  966 non-null    float64
 57  day_38                  966 non-null    float64
 58  day_39                  966 non-null    float64
 59  day_40                  966 non-null    float64
 60  day_41                  966 non-null    float64
 61  day_42                  966 non-null    float64
 62  day_44                  966 non-null    float64
 63  day_45                  966 non-null    float64
 64  day_46                  966 non-null    float64
 65  day_47                  966 non-null    float64
 66  day_48                  966 non-null    float64
 67  day_49                  966 non-null    float64
 68  day_64                  966 non-null    float64
 69  day_71                  966 non-null    float64
 70  day_78                  966 non-null    float64
 71  day_85                  966 non-null    float64
 72  day_51                  966 non-null    float64
 73  day_52                  966 non-null    float64
 74  day_53                  966 non-null    float64
 75  day_54                  966 non-null    float64
 76  day_55                  966 non-null    float64
 77  day_56                  966 non-null    float64
 78  day_58                  966 non-null    float64
 79  day_65                  966 non-null    float64
 80  day_72                  966 non-null    float64
 81  end_of_opening_week     966 non-null    int64
 82  day_59                  966 non-null    float64
 83  day_60                  966 non-null    float64
 84  day_61                  966 non-null    float64
 85  day_62                  966 non-null    float64
 86  day_63                  966 non-null    float64
 87  day_66                  966 non-null    float64
 88  day_67                  966 non-null    float64
 89  day_68                  966 non-null    float64
 90  day_69                  966 non-null    float64
 91  day_70                  966 non-null    float64
 92  day_79                  966 non-null    float64
 93  day_86                  966 non-null    float64
 94  year                    966 non-null    float64
dtypes: float64(93), int64(1), object(1)
memory usage: 717.1+ KB

In [48]:
num_df = df.select_dtypes(include='number')
num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966 entries, 0 to 965
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   lifetime_collection  964 non-null    float64
 1   opening_day          852 non-null    float64
 2   end_of_week_1        940 non-null    float64
 3   end_of_week_2        966 non-null    float64
 4   year                 966 non-null    float64
dtypes: float64(5)
memory usage: 37.9 KB

In [49]:
num_df.corr()

,lifetime_collection,opening_day,end_of_week_1,end_of_week_2,year
lifetime_collection,1.000000,0.891165,0.962176,0.962689,0.073483
opening_day,0.891165,1.000000,0.967331,0.894403,0.060901
end_of_week_1,0.962176,0.967331,1.000000,0.950743,0.069262
end_of_week_2,0.962689,0.894403,0.950743,1.000000,0.069555
year,0.073483,0.060901,0.069262,0.069555,1.000000

In [ ]:
# df.to_csv("movies_cleaned.csv", index=False)

In [59]:
dfs = pd.read_csv("movies.csv")
dfs.head()

,Unnamed: 0.1,Unnamed: 0,movie,lifetime_collection,opening_day,end_of_opening_weekend,end_of_week_1,end_of_week_2,end_of_week_3,end_of_week_4,...,day_21,day_23,day_24,day_25,day_26,day_27,day_28,day_30,end_of_opening_week,year
0,0,0,...And Once Again,0.12,NaN,NaN,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0.0
1,1,4,1920: London,15.45,2.50,7.73,12.45,15.06,15.42,15.45,...,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0.0
2,2,7,2 States,102.13,12.42,38.06,60.73,87.27,98.91,0.00,...,0.93,1.06,1.42,0.0,0.0,0.0,0.0,0.0,0,0.0
3,3,8,2020 Delhi,0.15,0.02,0.10,0.15,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0.0
4,4,9,22 Yards,0.03,NaN,NaN,0.03,0.00,0.00,0.00,...,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0.0

In [60]:
dfs.corr(numeric_only=True)

,Unnamed: 0.1,Unnamed: 0,lifetime_collection,opening_day,end_of_opening_weekend,end_of_week_1,end_of_week_2,end_of_week_3,end_of_week_4,day_1,...,day_20,day_21,day_23,day_24,day_25,day_26,day_27,day_28,day_30,year
Unnamed: 0.1,1.000000,0.999771,-0.022759,-0.009606,0.003998,-0.012800,-0.017539,-0.016067,0.004926,-0.003095,...,-0.047528,-0.047295,-0.051122,-0.048663,-0.034839,-0.020815,-0.028640,-0.040096,-0.044796,0.028007
Unnamed: 0,0.999771,1.000000,-0.022316,-0.008186,0.005317,-0.012145,-0.017041,-0.015569,0.005416,-0.002193,...,-0.047714,-0.047604,-0.051291,-0.049070,-0.035732,-0.021296,-0.028658,-0.040317,-0.044606,0.028036
lifetime_collection,-0.022759,-0.022316,1.000000,0.876086,0.903692,0.962215,0.962620,0.959276,0.878987,0.886985,...,0.786281,0.692853,0.718347,0.736684,0.682875,0.710117,0.747689,0.719999,0.567222,0.078836
opening_day,-0.009606,-0.008186,0.876086,1.000000,0.974229,0.962361,0.883316,0.832631,0.786433,0.997371,...,0.494742,0.401922,0.393674,0.416383,0.536288,0.546022,0.532595,0.503260,0.342503,0.041957
end_of_opening_weekend,0.003998,0.005317,0.903692,0.974229,1.000000,0.978494,0.902816,0.863093,0.831035,0.971741,...,0.532553,0.443136,0.431351,0.455959,0.618633,0.627168,0.580288,0.552882,0.378830,0.056117
end_of_week_1,-0.012800,-0.012145,0.962215,0.962361,0.978494,1.000000,0.950864,0.921105,0.875720,0.961390,...,0.624730,0.525100,0.526700,0.553182,0.633917,0.646641,0.652426,0.621785,0.447473,0.070080
end_of_week_2,-0.017539,-0.017041,0.962620,0.883316,0.902816,0.950864,1.000000,0.982378,0.913507,0.893019,...,0.738742,0.637298,0.652025,0.675920,0.675283,0.693544,0.726588,0.694394,0.524712,0.069555
end_of_week_3,-0.016067,-0.015569,0.959276,0.832631,0.863093,0.921105,0.982378,1.000000,0.914612,0.847351,...,0.795329,0.700167,0.715061,0.738478,0.686238,0.710157,0.748845,0.718567,0.553977,0.072721
end_of_week_4,0.004926,0.005416,0.878987,0.786433,0.831035,0.875720,0.913507,0.914612,1.000000,0.803086,...,0.597703,0.459453,0.548789,0.562737,0.755276,0.781032,0.823361,0.790852,0.619071,0.056209
day_1,-0.003095,-0.002193,0.886985,0.997371,0.971741,0.961390,0.893019,0.847351,0.803086,1.000000,...,0.519483,0.423275,0.420317,0.443560,0.555193,0.559791,0.556082,0.529018,0.371885,0.059743
day_2,-0.014862,-0.013641,0.857224,0.886095,0.908532,0.916414,0.799346,0.769047,0.732940,0.901409,...,0.492460,0.404186,0.405780,0.425611,0.492979,0.501503,0.521745,0.494937,0.361299,0.062251
day_3,-0.014490,-0.013852,0.918680,0.899041,0.900563,0.940332,0.945968,0.916083,0.861814,0.911043,...,0.622239,0.514764,0.539482,0.572995,0.610831,0.613861,0.649461,0.620737,0.463502,0.051217
day_4,-0.012462,-0.012140,0.877243,0.850615,0.889710,0.916687,0.825047,0.805121,0.796470,0.870187,...,0.533419,0.455237,0.438098,0.482319,0.662717,0.631949,0.587410,0.561721,0.380348,0.067021
day_5,-0.002047,-0.001904,0.898618,0.823808,0.858049,0.915284,0.926546,0.908956,0.859341,0.839762,...,0.653006,0.554950,0.545351,0.559138,0.575472,0.640800,0.656208,0.606073,0.433383,0.071168
day_6,-0.018651,-0.018482,0.940163,0.825877,0.836870,0.918832,0.953104,0.934394,0.856026,0.843614,...,0.718900,0.613416,0.641916,0.649502,0.605160,0.646938,0.714271,0.678543,0.524419,0.048250
day_7,-0.007457,-0.007113,0.938495,0.804799,0.823444,0.905620,0.946663,0.946631,0.872005,0.824379,...,0.750769,0.646231,0.662686,0.682424,0.615183,0.652248,0.723516,0.690487,0.510458,0.061872
day_8,-0.024772,-0.024500,0.944432,0.754814,0.782246,0.872040,0.948216,0.956200,0.861419,0.779127,...,0.832089,0.741928,0.771423,0.785741,0.649752,0.687943,0.751661,0.723910,0.568117,0.069064
day_9,-0.035049,-0.034609,0.913179,0.667743,0.687829,0.803333,0.898360,0.917418,0.811882,0.696727,...,0.859487,0.769849,0.834407,0.832761,0.588100,0.645417,0.762413,0.736906,0.622036,0.059441
day_10,-0.036465,-0.036259,0.923243,0.685521,0.707529,0.821947,0.912904,0.927995,0.830080,0.713695,...,0.848158,0.758224,0.803767,0.832511,0.647190,0.669225,0.769527,0.737521,0.606048,0.056551
day_11,-0.015677,-0.016034,0.893481,0.723633,0.791534,0.829591,0.893675,0.906741,0.832434,0.741723,...,0.793830,0.736085,0.717612,0.760971,0.824774,0.772178,0.736035,0.722505,0.546920,0.075372
day_12,-0.021626,-0.021426,0.905598,0.704347,0.766995,0.822221,0.898447,0.915465,0.803239,0.722503,...,0.861710,0.801006,0.806588,0.799059,0.644216,0.725008,0.712727,0.694861,0.548681,0.086808
day_13,-0.048632,-0.048534,0.903490,0.657787,0.689883,0.783710,0.883849,0.906230,0.780887,0.682291,...,0.879054,0.802042,0.871008,0.851547,0.657259,0.707796,0.773809,0.761620,0.662458,0.066433
day_15,-0.035527,-0.034939,0.869202,0.615019,0.648513,0.739313,0.844340,0.883280,0.737038,0.647335,...,0.912510,0.849772,0.876918,0.878819,0.602187,0.631253,0.709211,0.694611,0.595766,0.070754
day_18,-0.028631,-0.029205,0.831714,0.598633,0.677085,0.721561,0.804156,0.842284,0.717489,0.621336,...,0.871944,0.842132,0.801906,0.842927,0.782667,0.741722,0.687787,0.685780,0.519931,0.082106
day_19,-0.025205,-0.025143,0.814380,0.569232,0.634189,0.692598,0.781854,0.828546,0.659903,0.590356,...,0.926988,0.901088,0.855709,0.863509,0.556059,0.627503,0.611269,0.595657,0.480150,0.077134
day_22,-0.040372,-0.040161,0.709565,0.407681,0.457411,0.548190,0.657844,0.714488,0.546390,0.444897,...,0.891165,0.881067,0.872024,0.885607,0.531241,0.558464,0.569249,0.554823,0.514859,0.055314
day_29,-0.055380,-0.054235,0.595574,0.404674,0.433787,0.511593,0.577603,0.596382,0.648553,0.438299,...,0.478979,0.348545,0.530794,0.461992,0.580474,0.612492,0.712933,0.732251,0.672590,0.041173
day_14,-0.038077,-0.037849,0.900965,0.652920,0.683536,0.781501,0.885242,0.907500,0.764030,0.679397,...,0.909684,0.844873,0.863854,0.876509,0.601240,0.641966,0.721581,0.700793,0.574497,0.067918
day_16,-0.049064,-0.048956,0.818663,0.509341,0.538288,0.651811,0.771492,0.823243,0.677070,0.541302,...,0.933666,0.866167,0.936686,0.927708,0.530581,0.606909,0.718048,0.702986,0.666132,0.050817
day_17,-0.052402,-0.052411,0.833220,0.520817,0.551502,0.667115,0.786927,0.836891,0.694875,0.552452,...,0.934324,0.868071,0.926471,0.937080,0.590137,0.638364,0.742765,0.727343,0.663847,0.053082
day_20,-0.047528,-0.047714,0.786281,0.494742,0.532553,0.624730,0.738742,0.795329,0.597703,0.519483,...,1.000000,0.968825,0.921372,0.949683,0.520445,0.557623,0.627978,0.596314,0.491858,0.061651
day_21,-0.047295,-0.047604,0.692853,0.401922,0.443136,0.525100,0.637298,0.700167,0.459453,0.423275,...,0.968825,1.000000,0.904040,0.935046,0.437520,0.454899,0.488061,0.469909,0.379175,0.063806
day_23,-0.051122,-0.051291,0.718347,0.393674,0.431351,0.526700,0.652025,0.715061,0.548789,0.420317,...,0.921372,0.904040,1.000000,0.963961,0.510054,0.609614,0.685694,0.679166,0.675276,0.062155
day_24,-0.048663,-0.049070,0.736684,0.416383,0.455959,0.553182,0.675920,0.738478,0.562737,0.443560,...,0.949683,0.935046,0.963961,1.000000,0.562931,0.612839,0.662256,0.643858,0.578239,0.055254
day_25,-0.034839,-0.035732,0.682875,0.536288,0.618633,0.633917,0.675283,0.686238,0.755276,0.555193,...,0.520445,0.437520,0.510054,0.562931,1.000000,0.895333,0.792450,0.789548,0.601857,0.064312
day_26,-0.020815,-0.021296,0.710117,0.546022,0.627168,0.646641,0.693544,0.710157,0.781032,0.559791,...,0.557623,0.454899,0.609614,0.612839,0.895333,1.000000,0.868419,0.860230,0.713438,0.067349
day_27,-0.028640,-0.028658,0.747689,0.532595,0.580288,0.652426,0.726588,0.748845,0.823361,0.556082,...,0.627978,0.488061,0.685694,0.662256,0.792450,0.868419,1.000000,0.961185,0.859900,0.042037
day_28,-0.040096,-0.040317,0.719999,0.503260,0.552882,0.621785,0.694394,0.718567,0.790852,0.529018,...,0.596314,0.469909,0.679166,0.643858,0.789548,0.860230,0.961185,1.000000,0.863177,0.040431
day_30,-0.044796,-0.044606,0.567222,0.342503,0.378830,0.447473,0.524712,0.553977,0.619071,0.371885,...,0.491858,0.379175,0.675276,0.578239,0.601857,0.713438,0.859900,0.863177,1.000000,0.031369
year,0.028007,0.028036,0.078836,0.041957,0.056117,0.070080,0.069555,0.072721,0.056209,0.059743,...,0.061651,0.063806,0.062155,0.055254,0.064312,0.067349,0.042037,0.040431,0.031369,1.000000

In [61]:
dfs['year'] = df['year'].astype(int)

In [62]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 966 entries, 0 to 965
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0.1            966 non-null    int64
 1   Unnamed: 0              966 non-null    int64
 2   movie                   966 non-null    object
 3   lifetime_collection     948 non-null    float64
 4   opening_day             522 non-null    float64
 5   end_of_opening_weekend  529 non-null    float64
 6   end_of_week_1           966 non-null    float64
 7   end_of_week_2           966 non-null    float64
 8   end_of_week_3           966 non-null    float64
 9   end_of_week_4           966 non-null    float64
 10  day_1                   966 non-null    float64
 11  day_2                   966 non-null    float64
 12  day_3                   966 non-null    float64
 13  day_4                   966 non-null    float64
 14  day_5                   966 non-null    float64
 15  day_6                   966 non-null    float64
 16  day_7                   966 non-null    float64
 17  day_8                   966 non-null    float64
 18  day_9                   966 non-null    float64
 19  day_10                  966 non-null    float64
 20  day_11                  966 non-null    float64
 21  day_12                  966 non-null    float64
 22  day_13                  966 non-null    float64
 23  day_15                  966 non-null    float64
 24  day_18                  966 non-null    float64
 25  day_19                  966 non-null    float64
 26  day_22                  966 non-null    float64
 27  day_29                  966 non-null    float64
 28  day_14                  966 non-null    float64
 29  day_16                  966 non-null    float64
 30  day_17                  966 non-null    float64
 31  day_20                  966 non-null    float64
 32  day_21                  966 non-null    float64
 33  day_23                  966 non-null    float64
 34  day_24                  966 non-null    float64
 35  day_25                  966 non-null    float64
 36  day_26                  966 non-null    float64
 37  day_27                  966 non-null    float64
 38  day_28                  966 non-null    float64
 39  day_30                  966 non-null    float64
 40  end_of_opening_week     966 non-null    object
 41  year                    966 non-null    int64
dtypes: float64(37), int64(3), object(2)
memory usage: 317.1+ KB

In [63]:
dfs.to_csv('final_last_pkka.csv',index=False)